{"filter":false,"title":".gitignore","tooltip":"/webcamp_bookers2-main/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":31,"column":0},"end":{"row":31,"column":1},"action":"insert","lines":["."],"id":2},{"start":{"row":31,"column":1},"end":{"row":31,"column":2},"action":"insert","lines":["e"]},{"start":{"row":31,"column":2},"end":{"row":31,"column":3},"action":"insert","lines":["n"]},{"start":{"row":31,"column":3},"end":{"row":31,"column":4},"action":"insert","lines":["v"]}]]},"ace":{"folds":[],"scrolltop":339,"scrollleft":0,"selection":{"start":{"row":31,"column":4},"end":{"row":31,"column":4},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":20,"state":"start","mode":"ace/mode/ini"}},"timestamp":1607325412266,"hash":"0b02ca5230e6a8d199e4023ec25e5beb52aacf52"}